#channel
{
  box-sizing: border-box;
  max-width: 30em;
  width: 100%;
}

input[type="button"],
input[type="submit"]
{
  padding: 0.3em 1.5em;
}

#error
{
  background-color: #f88;
}

.lbl
{
  color: #008;
}

:not(br) + .lbl
{
  padding-left: 2em;
}

#login
{
  font-family: monospace;
}

.card
{
  display: inline-grid;
  font: inherit;
  line-height: normal;
  margin: 0.1em;
  vertical-align: top;
}

#owner .card
{
  vertical-align: middle;
}

.card img
{
  grid-row: span 2;
  padding-right: 0.2em;
}

.card span
{
  grid-column: 2;
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card time
{
  font-size: 0.8em;
  grid-column: 2;
  text-align: right;
}

.more
{
  padding: 1em;
  vertical-align: bottom;
}

.default
{
  font-style: italic;
}

#pred-list
{
  line-height: 1.777778;
  list-style-type: none;
  padding: 0;
}

#pred-list li
{
  background-color: #eef;
  border-radius: 0.5em;
  padding: 0.5em;
}

.outcomes
{
  list-style-type: "\274c";
}

.outcomes .winning
{
  list-style-type: "\2705";
}

.card small
{
  grid-column: 3;
  grid-row: 1;
  margin-left: 1em;
  text-align: right;
}

.card small + small
{
  grid-row: 2;
}
