body
{
  margin: 1em 2em;
}

h1, h2
{
  background-color: #6d0080;
  padding: 0.2em 0.3em;
}

aside
{
  filter: drop-shadow(0.1rem 0.1rem 0.3rem black);
  float: right;
  max-width: 50vw;
  padding-left: 1em;
  padding: 0.4rem;
}

hr
{
  border-style: none;
  clear: both;
}

fieldset
{
  margin: 1em;
}

fieldset, legend
{
  border: 1px solid #eee;
  border-radius: 0.5em;
}

legend
{
  padding: 0.2em 0.3em;
}

blockquote
{
  background-color: #444;
  padding: 0.2em 0.3em;
}

input, select
{
  font: inherit;
  line-height: 1;
}

output
{
  background-color: #dfd;
  display: inline-block;
  margin-left: 1em;
  padding: 0.2em 0.3em;
}

output:empty
{
  padding: 0;
}

ol li
{
  counter-increment: item;
}

ol li::marker
{
  content: "(" counter(item) ") ";
  font-weight: bold;
}

p, li
{
  margin: 0.7em 0;
}

aside p
{
  margin: 0;
}

#main-params
{
  font-weight: bold;
}

#main-params p
{
  margin: 0.8em;
}

#test .chat-line
{
  display: block;
}

#test .reply i
{
  float: none;
}

.bots .chat-line:has(img.ffz-bot) {
  display: none !important;
}
