body
{
  background-color: #ccd;
  color: black;
  margin: 1em 2em;
}

h1, h2
{
  background-color: #6d0080;
  color: white;
  padding: 0.2em 0.3em;
}

aside, q
{
  background-color: #18181b;
  color: white;
}

aside
{
  float: right;
  max-width: 50vw;
  padding: 0.4rem;
}

q
{
  padding: 0.4em 0.3em;
  quotes: none;
}

hr
{
  border-style: none;
  clear: both;
  margin: 2em 0;
}

fieldset
{
  margin: 1em;
}

fieldset, legend
{
  border: 1px solid #eee;
  border-radius: 0.5em;
}

legend
{
  font-weight: 600;
  padding: 0.2em 0.3em;
}

blockquote
{
  background-color: #bbb;
  padding: 0.2em 0.3em;
}

input, select
{
  font: inherit;
  line-height: 1;
}

output
{
  background-color: #dfd;
  color: #000;
  display: inline-block;
  margin-left: 1em;
  padding: 0.2em 0.3em;
}

output:empty
{
  padding: 0;
}

a
{
  color: inherit;
}

ol li
{
  counter-increment: item;
}

ol li::marker
{
  content: "(" counter(item) ") ";
  font-weight: bold;
}

p, li
{
  margin: 0.7em 0.4em;
}

aside p
{
  margin: 0;
}

#main-params
{
  font-weight: bold;
}

.bots .chat-line:has(img.ffz-bot)
{
  display: none !important;
}
