body
{
  background-color: #bbf;
  font: 14pt monospace;
}

td, th
{
  padding: 1ex 1em;
}

th
{
  text-align: right;
}

blockquote,
.important
{
  background-color: #ddd;
}

input[type=text]
{
  min-width: 50em;
  font: inherit;
}
