@import url("https://lalten.github.io/lmweb/style/latinmodern-mono.css");

body {
  background-color: #18181b; /* OBS will remove the background */
  color: white;
  font-family: "Latin Modern Mono", monospace;
  font-size: 18px;
  margin: 0px;
}

body[data-scale="2"] {
  font-size: 36px;
}

body[data-scale="3"] {
  font-size: 72px;
}

body[data-join="1"] .channel {
  display: none;
}

#chat-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
}

p,
.reply i {
  align-items: baseline;
  display: flex;
  gap: 0px 0.4em;
  justify-content: start;
  margin: 0.1em 0px;
}

img {
  vertical-align: middle;
}

.badges {
  flex-shrink: 0;
}

.badges img {
  font-size: 0.5em;
}

.badges img + .pronouns,
.badges img + img {
  margin-left: 0.2em;
}

.pronouns {
  border: 1px solid;
  border-radius: 0.4em;
  font-size: 0.8em;
  padding: 0px 0.1em;
}

.badges:not(:has(img, .pronouns:not(:empty))),
.pronouns:empty {
  display: none;
}

.nick {
  font-weight: bold;
}

.USERNOTICE {
  background-color: #c466ff64;
}

.CLEARCHAT,
.NOTICE {
  color: #fff8;
}

.JOIN,
.PART {
  color: #fff5;
}

.JOIN .message,
.PART .message {
  align-self: end;
}

.system-msg,
.action .message {
  font-style: italic;
}

.chat-line[data-first-msg="1"] {
  background-color: #487f3f3c;
}

/*.chat-line[data-returning-chatter="1"] {
  background-color: #3296e666;
}*/

.message:has(.reply) {
  display: flex;
  flex-direction: column;
}

.reply {
  display: inline-block;
}

.reply i {
  font-size: 0.8em;
  clear: left;
  float: left;
  width: 100%;
}

.emote-stack {
  display: inline-grid;
  justify-items: center;
}

.emote-stack img {
  grid-column-start: 1;
  grid-row-start: 1;
}

/* c! */ img.cursed   { filter: grayscale(1) brightness(0.7) contrast(2.5); }
/* h! */ img.flip-x   { transform: scaleX(-1); }
/* l! */ img.rotate-l { transform: rotate(-90deg); }
/* p! */ img.party    { animation: party 1.5s linear infinite; }
/* r! */ img.rotate-r { transform: rotate(90deg); }
/* s! */ img.shake    { animation: shake 500ms step-start infinite; }
/* v! */ img.flip-y   { transform: scaleY(-1); }

img.party.shake {
  animation: party 1.5s linear infinite, shake 500ms step-start infinite;
}

@keyframes party {
  0%   { filter: sepia(0.5) hue-rotate(0deg)   saturate(2.5); }
  100% { filter: sepia(0.5) hue-rotate(360deg) saturate(2.5); }
}

@keyframes shake {
  0%   { translate:  0px  1px; }
  10%  { translate:  2px  0px; }
  20%  { translate:  1px -2px; }
  30%  { translate: -2px  1px; }
  40%  { translate:  0px -1px; }
  50%  { translate:  2px  2px; }
  60%  { translate: -1px -1px; }
  70%  { translate: -2px  2px; }
  80%  { translate:  2px  1px; }
  90%  { translate: -1px -2px; }
  100% { translate:  1px  0px; }
}
