@import url('https://fonts.googleapis.com/css2\
?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 18px;
}

html[data-scale="2"] {
  font-size: 36px;
}

html[data-scale="3"] {
  font-size: 72px;
}

body {
  background-color: #18181b; /* OBS will remove the background */
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

html[data-join="1"] .channel {
  display: none;
}

#chat-container {
  display: flex;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem black);
  flex-direction: column-reverse;
  height: 100vh;
}

.chat-line {
  align-items: baseline;
  display: flex;
  gap: 0 0.4em;
  justify-content: start;
  line-height: 1.777778;
  margin: 0;
}

.emote-stack,
img {
  vertical-align: middle;
}

.channel img {
  border-radius: 0.5em;
  max-height: 1em;
}

.badges {
  flex-shrink: 0;
}

.badges img {
  font-size: 0.5em;
  max-height: 1rem;
}

.badges img + .pronouns,
.badges img + img {
  margin-left: 0.2rem;
}

.pronouns {
  border: 0.06em solid;
  border-radius: 0.4em;
  font-size: 0.8em;
  padding: 0 0.1em;
}

.hidden {
  display: none;
}

.nick {
  font-weight: bold;
}

.USERNOTICE {
  background-color: #c466ff64;
}

.emote-notice,
.CLEARCHAT,
.NOTICE {
  color: #fff8;
}

.JOIN,
.PART {
  color: #fff5;
}

.JOIN .message,
.PART .message {
  align-self: end;
}

.system-msg,
.action {
  font-style: italic;
}

.chat-line[data-first-msg="1"] {
  background-color: #487f3f3c;
}

.reply i {
  font-size: 0.8em;
  float: left;
  width: 100%;
}

.reply i::before {
  content: "↪ ";
}

.emote-stack {
  display: inline-grid;
  justify-items: center;
}

.emote-stack img {
  grid-column-start: 1;
  grid-row-start: 1;
}

@media (max-width: 35rem) {
  .chat-line { display: block; }
  .reply i   { float: none; }
}

/*
 * BetterTTV effects and styles
 */

img.cursed   { filter: grayscale(1) brightness(0.7) contrast(2.5); }
img.flip-x   { transform: scaleX(-1); }
img.flip-y   { transform: scaleY(-1); }
img.rotate-l { transform: rotate(-90deg); }
img.rotate-r { transform: rotate( 90deg); }
img.party    { animation: party 1.5s linear     infinite; }
img.shake    { animation: shake 0.5s step-start infinite; }

img.party.shake {
  animation: party 1.5s linear infinite, shake 500ms step-start infinite;
}

@keyframes party {
  0%   { filter: sepia(0.5) hue-rotate(  0deg) saturate(2.5); }
  100% { filter: sepia(0.5) hue-rotate(360deg) saturate(2.5); }
}

@keyframes shake {
  0%   { transform: translate( 0     ,  0.06em); }
  10%  { transform: translate( 0.12em,  0     ); }
  20%  { transform: translate( 0.06em, -0.12em); }
  30%  { transform: translate(-0.12em,  0.06em); }
  40%  { transform: translate( 0     , -0.06em); }
  50%  { transform: translate( 0.12em,  0.12em); }
  60%  { transform: translate(-0.06em, -0.06em); }
  70%  { transform: translate(-0.12em,  0.12em); }
  80%  { transform: translate( 0.12em,  0.06em); }
  90%  { transform: translate(-0.06em, -0.12em); }
  100% { transform: translate( 0.06em,  0     ); }
}

.nick.glow {
  text-shadow: 0 0 1em color-mix(in srgb, currentcolor 80%, transparent);
}

/*
 * FrankerFaceZ effects and styles
 */

img.rainbow     { animation: rainbow     2s   linear infinite; }
img.hyper-shake { animation: hyper-shake 0.1s linear infinite; }
img.jam         { animation: jam         0.6s linear infinite; }
img.bounce      { animation: bounce      0.5s linear infinite; }
img.hyper-red   {
  filter: brightness(0.2) sepia(1) brightness(2.2) contrast(3) saturate(8);
}

@keyframes rainbow {
  0%   { filter: hue-rotate(  0deg); }
  100% { filter: hue-rotate(360deg); }
}

@keyframes hyper-shake {
  0%   { transform: translate( 0.06em,  0.06em); }
  10%  { transform: translate(-0.06em, -0.12em); }
  20%  { transform: translate(-0.18em,  0     ); }
  30%  { transform: translate( 0.18em,  0.12em); }
  40%  { transform: translate( 0.06em, -0.06em); }
  50%  { transform: translate(-0.06em,  0.12em); }
  60%  { transform: translate(-0.18em,  0.06em); }
  70%  { transform: translate( 0.18em,  0.06em); }
  80%  { transform: translate(-0.06em, -0.06em); }
  90%  { transform: translate( 0.06em,  0.12em); }
  100% { transform: translate( 0.06em, -0.12em); }
}

@keyframes jam {
  0%   { transform: translate( -0.12em, -0.12em) rotate(-6deg); }
  10%  { transform: translate( -0.09em, -0.12em) rotate(-8deg); }
  20%  { transform: translate(  0.06em, -0.09em) rotate(-8deg); }
  30%  { transform: translate(  0.18em,  0.15em) rotate(-6deg); }
  40%  { transform: translate(  0.18em,  0.24em) rotate(-2deg); }
  50%  { transform: translate(  0.12em,  0.24em) rotate( 3deg); }
  60%  { transform: translate(  0.06em,  0.24em) rotate( 3deg); }
  70%  { transform: translate( -0.03em,  0.18em) rotate( 2deg); }
  80%  { transform: translate(-0.075em,  0.06em) rotate( 0deg); }
  90%  { transform: translate(-0.105em, -0.03em) rotate(-2deg); }
  100% { transform: translate( -0.12em, -0.12em) rotate(-5deg); }
}

@keyframes bounce {
  0%      { transform: scale( 0.8, 1  ); }
  10%     { transform: scale( 0.9, 0.8); }
  20%     { transform: scale( 1  , 0.4); }
  25%     { transform: scale( 1.2, 0.3); }
  25.001% { transform: scale(-1.2, 0.3); }
  30%     { transform: scale(-1  , 0.4); }
  40%     { transform: scale(-0.9, 0.8); }
  50%     { transform: scale(-0.8, 1  ); }
  60%     { transform: scale(-0.9, 0.8); }
  70%     { transform: scale(-1  , 0.4); }
  75%     { transform: scale(-1.2, 0.3); }
  75.001% { transform: scale( 1.2, 0.3); }
  80%     { transform: scale( 1  , 0.4); }
  90%     { transform: scale( 0.9, 0.8); }
  100%    { transform: scale( 0.8, 1  ); }
}

.badges img.ffz-bot {
  background-color: #00ad03;
  border-radius: 0.2em;
  content: url(https://cdn.frankerfacez.com/badge/2/1);
}

html[data-scale="2"] .badges img.ffz-bot {
  content: url(https://cdn.frankerfacez.com/badge/2/2);
}

html[data-scale="3"] .badges img.ffz-bot {
  content: url(https://cdn.frankerfacez.com/badge/2/4);
}

/*
 * 7TV name paints
 */

.nick.paint {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: currentcolor;
  background-size: 100% 100%;
}
